
<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar  style="color: #ecf0f3;">
      <img   src="assets/icon/logo.png" class="" slot="start" style="height: 80px; padding: 10px;" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-content  class="ion-padding" slot="start"></ion-content>
  <ion-content class="ion-padding" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><br><br>

  <a href="" style="text-decoration:none; color: black;"> <i class="fa fa-history" aria-hidden="true" style="color:#7daa30"></i> &nbsp;&nbsp; Historia</a><br><br>
  <a href="" style="text-decoration:none; color: black;"> <i class="fa fa-user" aria-hidden="true" style="color:#7daa30;"></i>&nbsp;&nbsp;&nbsp;¿Quienes Somos?</a><br><br>
  <a href="" style="text-decoration:none; color: black;"> <i class="fa fa-phone" aria-hidden="true" style="color:#7daa30"></i> &nbsp; Contacto</a><br><br>
  <a href="" style="text-decoration:none; color: black;"> <i class="fa fa-globe " aria-hidden="true" style="color:#7daa30"></i> &nbsp; Sitio Web</a><br>
     





  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   


                                                            

</ion-content>


<ion-row>

  <ion-col>

<ion-card class="rounded-circle ion-text-center text-center"  style="height: 55px; width: 52px;  color: rgb(59,89,152);">
 

  <ion-card-content><i class="fa fa-facebook fa-2x ion-text ion-text-center text-center" aria-hidden="true"></i> </ion-card-content>
  
</ion-card>

</ion-col>




<ion-col style="height: 200px;">
<ion-card   class="rounded-circle ion-text-center"   href="https://www.ballhausen.mx/"   style="height: 55px; width: 52px; color:    #C13584 ;">
 

  <ion-card-content><i class="fa fa-instagram fa-2x text-center" aria-hidden="true"></i>  </ion-card-content>
</ion-card>
</ion-col>


<ion-col>


<ion-card  class=" ion-text-center"  style="height: 55px; width: 52px; color: rgb(14, 118, 168);">

 

  <ion-card-content class="ion-text-center"><i class="fa fa-linkedin fa-2x"  aria-hidden="true"></i> </ion-card-content>
</ion-card>
</ion-col>

<ion-col>


<ion-card class=" ion-text-center"    style="height: 55px; width: 52px; color: rgb(29, 161, 242);">
 

  <ion-card-content><i class="fa fa-twitter fa-2x ion-text-center" aria-hidden="true"></i>  </ion-card-content>

</ion-card>





</ion-col>


</ion-row>



<p href="https://www.facebook.com/" class="ion-text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Términos y Condiciones | Politicas de Privacidad</p> 
  <p class="ion-text-center" style="color: rgb(160, 162, 163); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Promociones Quimicas 1.1.0 </p>

 
  <a href="" style="text-decoration:none; color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="ion-text-center"> <i class="fa fa-globe " aria-hidden="true" style="color:#508CB4;"></i> México - Español</a><br>



       </ion-menu>


       


<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
      <ion-title class=""></ion-title>
      <img class="animate__animated animate__backInLeft" src="assets/icon/logo.png"  slot="end" style="height: 80px; padding: 10px;" alt="">
    </ion-toolbar>


    <ion-card  class="animate__animated animate__slideInUp"   color="light" >

    <video src="assets/video/PQP.mp4" autoplay muted loop style="width: 100%;"></video>
      <ion-card-header>
        <ion-card-title class="ion-text-center"  >Promociones Químicas  </ion-card-title>
    
        <ion-card-subtitle class="ion-text-center"></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>

    


      <h4 class="ion-text-center animate__animated animate__slideInUp">Eligue una Opción</h4>

    <ion-row  class="ion-text-center animate__animated animate__slideInUp">
      <ion-col>
      <ion-card href="" color="light" >
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center" style="color: black; ">Ordenes</ion-card-subtitle><br>
          <i class="fa fa-cog fa-3x ion-text-center" aria-hidden="true" style="color: black;"></i>
        </ion-card-header>

        
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card href=""  color="light">
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center" style="color: black; ">Card Subtitle</ion-card-subtitle><br>
          <i class="fa fa-lightbulb-o fa-3x ion-text-center  " aria-hidden="true" style="color: black;"></i>
        </ion-card-header>

        
      </ion-card>
    </ion-col>

    
    </ion-row>
    <ion-row  class="ion-text-center animate__animated animate__slideInUp" >
      <ion-col>
      <ion-card href=""  color="light">
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center" style="color: black; ">Card Subtitle</ion-card-subtitle><br>
          <i class="fa fa-spinner fa-3x ion-text-center " aria-hidden="true" style="color: black;"></i>
        </ion-card-header>

        
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card href=""  color="light">
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center" style="color: black; ">Card Subtitle</ion-card-subtitle><br>
          <i class="fa fa-file fa-3x ion-text-center" aria-hidden="true" style="color: black;"></i>
        </ion-card-header>

        
      </ion-card>
    </ion-col>

    
    </ion-row>



         <h3 class="ion-text-center">  SERVICIOS BI  </h3> 
    <ion-card style="background-image: url('assets/icon/rastreo1.jpg'); background-size: cover;">


      <ion-card-header >
        <ion-card-title style="color: #ffff; font-size: 25px;"><strong>Sistema de Rastreo</strong></ion-card-title>
        <ion-card-subtitle style="color: #ffff;">Tracking Platform</ion-card-subtitle><br>
        
        
        <ion-button class="" href="https://www.ballhausen.xyz/rastreo/" color="black" fill="outline" style="color: azure; width: 80px; justify-content: center;">Info</ion-button>
        <ion-card   class="rounded-circle ion-text-center"   href="https://www.ballhausen.mx/"   style="height: 55px; width: 52px; color: rgb(37,211,102);">
 

          <ion-card-content><i class="fa fa-whatsapp fa-2x text-center" aria-hidden="true"></i>  </ion-card-content>
        </ion-card>
      </ion-card-header>
    
      <ion-card-content style="color: #ffff;" >
       
      </ion-card-content>

    </ion-card>

    <ion-card style="background-image: url('assets/icon/gerar.jpg'); background-size: cover;">


      <ion-card-header >
           <ion-card-title style="color: #ffff; font-size: 25px;"> <strong>Sistema de conteo por Visión</strong></ion-card-title><br>
        <ion-card-subtitle style="color: #ffff;"></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="color: #ffff;" >
        <ion-button class="" href="https://www.ballhausen.xyz/rastreo/" color="black" fill="outline" style="color: azure; width: 80px; justify-content: center;">Info</ion-button>
        <ion-card   class="rounded-circle ion-text-center"   href="https://www.ballhausen.mx/"   style="height: 55px; width: 52px; color: rgb(37,211,102);">
 

          <ion-card-content><i class="fa fa-whatsapp fa-2x text-center" aria-hidden="true"></i>  </ion-card-content>
        </ion-card>
      </ion-card-content>

    </ion-card>

    <ion-card style="background-image: url('assets/icon/vibracion.jpg'); background-size: cover;">


      <ion-card-header >
        <ion-card-title style="color: #ffff; font-size: 25px;"><strong>Sistema para analisis  de Vibraciones</strong></ion-card-title><br><br><br><br>
        <ion-card-subtitle style="color: #ffff;"></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="color: #ffff;" >
        <ion-button class="" href="https://www.ballhausen.xyz/rastreo/" color="black" fill="outline" style="color: azure; width: 80px; justify-content: center;">Info</ion-button>
        <ion-card   class="rounded-circle ion-text-center"   href="https://www.ballhausen.mx/"   style="height: 55px; width: 52px; color: rgb(37,211,102);">
 

          <ion-card-content><i class="fa fa-whatsapp fa-2x text-center" aria-hidden="true"></i>  </ion-card-content>
        </ion-card>
        
      </ion-card-content>

    </ion-card>











    <ion-card>

      <ion-card-header>
        <ion-card-title>Marcas que confian </ion-card-title>
        <ion-card-subtitle>en BI</ion-card-subtitle><br>

           <ion-row> 


         <ion-col>
        <img class="rounded-circle" style="height: 92px;" alt="Silhouette of mountains" src="assets/icon/bic.png" />
      </ion-col>

      <ion-col>
        <img class="rounded-circle"  style="height: 92px;"  alt="Silhouette of mountains" src="assets/icon/camesa.jpg" />
      </ion-col>

      <ion-col>
        <img class="rounded-circle" style="height: 92px;"  alt="Silhouette of mountains" src="assets/icon/frigocel.png" />
      </ion-col>

    
    </ion-row>
    
  <ion-row>

      <ion-col>
        <img class="rounded-circle"  style="height: 92px;"  alt="Silhouette of mountains" src="assets/icon/jumex.png" />
      </ion-col>

      <ion-col>
        <img class="rounded-circle" style="height: 92px;"  alt="Silhouette of mountains" src="assets/icon/lacosteña.png" />
      </ion-col>

      <ion-col>
        <img class="rounded-circle" style="height: 92px;"  alt="Silhouette of mountains" src="assets/icon/nutresa.jpg" />
      </ion-col>
        

      </ion-row>


      </ion-card-header>


      
    </ion-card>
 





    

    <ion-content  class="background" >
     <br><br><br><br><br>
     <br><br><br><br><br><br><br> <br>

&nbsp;<p class="ion-text-center" style="color: azure; font-size: 60px;"></p><br>
&nbsp;&nbsp;<ion-button href="www.ballhausen.mx" color="black" fill="outline" style="color: azure;">Ver más</ion-button>

</ion-content>

<h2  class="ion-text-center" style="background-color: rgb(255, 255, 255);">PRODUCTOS </h2>
<ion-row >

<ion-col>

<ion-card>
<img alt="Silhouette of mountains" src="assets/icon/4.png" />
<ion-card-header>
  <ion-card-title style="font-size: 18px;"><strong>Producto</strong></ion-card-title>
  <ion-card-subtitle>$$$$$</ion-card-subtitle>


  <ion-row>
    <ion-col>
  <ion-button fill="outline" style="width: 70px; font-size: 10px; ">Action 1</ion-button>
    </ion-col>
    
    <p style="font-size: 10px;"><i class="fa fa-star" aria-hidden="true"></i>5.5</p>
      
    </ion-row>

</ion-card-header>

<ion-card-content>
  
</ion-card-content>
</ion-card>
</ion-col>

<ion-col>

  
<ion-card>

<img alt="Silhouette of mountains" src="assets/icon/4.png" />


<ion-card-header>


  <ion-card-title style="font-size: 18px;"><strong> Producto </strong> </ion-card-title>
  
  <ion-card-subtitle>$$$$$</ion-card-subtitle>


  <ion-row>
    <ion-col>
  <ion-button fill="outline" style="width: 70px; font-size: 10px; ">Action 1</ion-button>
    </ion-col>
    
    <p style="font-size: 10px;"><i class="fa fa-star" aria-hidden="true"></i>5.5</p>
      
    </ion-row>

</ion-card-header>

<ion-card-content>
  
</ion-card-content>
</ion-card>
</ion-col>



<ion-card color="dark">
<ion-card-header>
  
  <ion-card-subtitle>LOREM</ion-card-subtitle>
</ion-card-header>

<ion-card-content>

<ion-row>
  <ion-col>
     Here's a small text description for the card content. Nothing more, nothing less.

  </ion-col>
  <ion-col>
    &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i>
    
 </ion-col>



</ion-row> 
 



</ion-card-content>


<ion-button fill="clear">Action 2</ion-button>
</ion-card>



<ion-col>

<ion-card>
  <img alt="Silhouette of mountains" src="assets/icon/4.png" />
  <ion-card-header>
    <ion-card-title style="font-size: 18px;"><strong>Producto</strong></ion-card-title>
  <ion-card-subtitle>$$$$$</ion-card-subtitle>


  <ion-row>
    <ion-col>
  <ion-button fill="outline" style="width: 70px; font-size: 10px; ">Action 1</ion-button>
    </ion-col>
    
    <p style="font-size: 10px;"><i class="fa fa-star" aria-hidden="true"></i>5.5</p>
      
    </ion-row>
  
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>
</ion-col>


<ion-col>

<ion-card>
  <img alt="Silhouette of mountains" src="assets/icon/4.png" />
  <ion-card-header>
    <ion-card-title style="font-size: 18px;"><strong>Producto</strong></ion-card-title>
    <ion-card-subtitle>$$$$$</ion-card-subtitle>
  
  
    <ion-row>
      <ion-col>
    <ion-button fill="outline" style="width: 70px; font-size: 10px; "><strong>Producto</strong></ion-button>
      </ion-col>
      
      <p style="font-size: 10px;"><i class="fa fa-star" aria-hidden="true"></i>5.5</p>
        
      </ion-row>
  
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>
</ion-col>

</ion-row>

<ion-content   class="ion-text-center"        color="dark" style="height: 574px;">
  <br>

  <h4   style="color: azure;"         class="ion-text-center">Unete a nuestro equipo</h4> <br>

<h3> </h3>
 
<ion-input     class="ion-text-center"   style="width: 300px; " label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  
<img  style="height: 100px;" class="ion-text-center"   src="assets/icon/logo2dark.png" alt=""><br>





 <ion-row> 

  <ion-col>

      <img     class="rounded-circle" src="assets/icon/1.jpg" alt="">

  </ion-col>

  <ion-col>

    <img    class="rounded-circle" src="assets/icon/4.jpg" alt="">

  </ion-col>

  <ion-col>

    <img  class="rounded-circle" src="assets/icon/5.jpg" alt="">

  </ion-col>


  <ion-col>

    <img  class="rounded-circle" src="assets/icon/7.jpg" alt="">
  </ion-col>

  <p></p>



<br><br><br>







 </ion-row><br><br>

 <p href="https://www.facebook.com/" class="text-center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Términos y Condiciones | Politicas de Privacidad</p> 
  <p class="text-center" style="color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Promociones Quimicas 1.1.0 </p><br> 

 
  <a href="" style="text-decoration:none; color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="ion-text-center"> <i class="fa fa-globe " aria-hidden="true" style="color:#ffffff;"></i> México - Español</a><br>



</ion-content> 



    
  </ion-header>



 

  <ion-content class="ion-padding" > </ion-content>
  
      <ion-tab-bar class="" slot="bottom"   style="height: 250px; background-color: #7ba72d;">
        
        <ion-tab-button tab="home"  style=" background-color: #7ba72d; color: #ffffff;">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          
          Inicio

        </ion-tab-button>


        <ion-tab-button class="rounded-circle"  style="background-color:#ecf0f3; height: 100px; "   tab="home">
        <img  src="assets/icon/logo.png" style="height: 38px;" alt="">
        </ion-tab-button>

        <ion-tab-button tab="radio" style=" background-color: #7ba72d; color: #ffffff;">
        <i class="fa fa-headphones fa-2x" aria-hidden="true" style="color: #ffffff;"></i>
         
        
        
        Soporte Tecnico 


        </ion-tab-button>



       
      </ion-tab-bar>


