
*{
  overflow-x: hidden;
}


ion-content.background{
  --background: url(../assets/icon/ing.jpg) 0 0/100% 100% no-repeat;
}
ion-content.background2{
  --background: url(../assets/icon/electronica2.jpg) 0 0/100% 100% no-repeat;
}
 
ion-content.ola{
  overflow-x: hidden;
}

.le{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}

.oa{
  overflow-x: hidden;
}